.blog {
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  @include for-size(iphone) {
    grid-column: 1;
    grid-row: 2;
    width: 828px;
    margin: 3.5rem 0 0 0;
  }

  &--heading {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    font-size: 7rem;
    color: $secondary;
    padding: 1.5rem 0;
    @include for-size(iphone) {
      grid-column: 1;
      grid-row: 1;
      font-size: 5rem;
      padding: 0.75rem 1.5rem;
      text-align: center;
    }
  }
  &--search {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    display: block;
    text-align: center;
    justify-self: center;
    @include for-size(iphone) {
      width: 828px;
      grid-column: 1;
      grid-row: 2;
      margin: 1.5rem 0 0 0;
    }
    span {
      margin: 1rem 0;
      font-size: 24px;
      display: block;
      color: $accent;
      @include for-size(iphone) {
        margin: 0;
        padding: 0;
      }
    }

    label {
      text-align: center;
      @include for-size(iphone) {
        margin: 1.5rem 0;
        margin: 0;
        padding: 0;
      }
    }
    input {
      padding: 0;
      margin: 0;
      color: $dark;
      outline: none;
      height: 4rem;
      width: 24rem;
      font-size: 2rem;
      border: none;
      background: $lightIndie;
      border-radius: 4px;
      display: inline-block;
      text-align: center;
      color: $secondary;
      @include for-size(iphone) {
        margin: 1.5rem 0;
        padding: 0;
        height: 3.75rem;
      }
      &:placeholder-shown {
        text-align: center;
      }
      &::placeholder {
        color: $secondary;
      }
    }
  }
}

.preview {
  margin-top: 5rem;
  grid-column: 2;
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
