.listing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 800px;
  margin: 0 1.5rem 4.5rem 1.5rem;
  @include for-size(iphone) {
    margin: 3rem 1.5rem;
  }
  &--heading {
    grid-template-columns: 1fr;
    font-size: 3.5rem;
    a {
      text-decoration: underline;
      color: #ffed4a;
    }
    @include for-size(iphone) {
      text-align: center;
      font-size: 3.5rem;
    }
  }
  &--date {
    font-size: 20px;
    margin: 0.75rem 0;
    color: #818cf8;
    @include for-size(iphone) {
      text-align: center;
      font-size: 1.75rem;
      margin: 1.5rem 0;
    }
  }
  &--image {
    margin: 0 0 0.5rem 0;
    @include for-size(iphone) {
      justify-self: center;
    }
  }
  &--excerpt {
    font-size: 22px;
    color: $secondary;
    @include for-size(iphone) {
      font-size: 2.2rem;
    }
  }
  &--tags {
    list-style: none;
    margin: 1.5rem 0 0 0;
    display: flex;
    @include for-size(iphone) {
      justify-content: space-between;
    }
    li {
      background: lighten($accent, 10%);
      color: #1a1a1a;
      margin: 0 1.5rem 0 0;
      padding: 6px 14px;
      border-radius: 50px;
      @include respond(phone) {
        font-size: 24px;
        // padding: 5px 20px;
        margin: 1.5rem 1.5rem 0 0;
      }
    }
  }
}
