.glory {
  grid-column: 1;
  grid-row: 3;

  @include for-size(phone-only) {
    // width: 431.95px;
    // min-width: 431.95px;
    width: 100%;
  }
  li {
    // display: none;
  }
}

.preview--image {
  margin: 0;
  padding: 0;

  // @include for-size(phone-only) {
  //   width: 100%;
  // }
}
