.read {
  display: grid;
  color: white;
  grid-template-columns: 1fr;
  &--back {
    background: $secondary;
    border: none;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 60%;
    font-size: 22px;
    position: fixed;
  }
  article {
    display: grid;
    grid-template-columns: 15vw 3fr 15vw;
    justify-items: center;
    * {
      grid-column: 2;
    }
    p {
      font-size: 2.5rem;
      padding: 1.5rem 0;
    }
    h1 {
      font-size: 7rem;
    }
    video,
    img {
      width: 100%;
      margin: 1.5rem 0;
    }
  }
}
