.read {
  display: grid;
  color: white;
  grid-template-columns: 1fr;
  &--back {
    @include respond(phone) {
      text-align: center;
      justify-self: end;
      margin: 3rem 1.5rem 0 0;
      background: $secondary;
      border: none;
      outline: none;
      width: 25px;
      height: 25px;
      border-radius: 60%;
      font-size: 16px;
      position: fixed;
      cursor: pointer;
    }
  }
  article {
    display: grid;
    grid-template-columns: 15vw 3fr 15vw;
    justify-items: center;
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
    * {
      grid-column: 2;
    }
    p {
      @include respond(phone) {
        padding: 1.5rem;
      }
      font-size: 2.5rem;
      padding: 1.5rem 0;
    }
    h1 {
      font-size: 7rem;
      @include respond(phone) {
        text-align: center;
        font-size: 5.5rem;
      }
    }
    video,
    img {
      width: 100%;
      margin: 1.5rem 0;
    }
  }
}
