header {
  background: #818cf8;
  grid-row: 1;
  height: 5rem;
  display: grid;
  align-items: center;
  justify-items: end;
  @include respond(phone) {
    height: 5rem;
    justify-items: center;
  }
}

// 48
.headerb {
  background: #818cf8;
  height: 5rem;
  display: grid;
  // align-items: center;
  // justify-items: end;
  @include for-size(phone-only) {
    height: 5rem;
  }
}
