nav {
  align-items: center;
  margin-right: 3rem;
  color: #1a1a1a;
  @include respond(phone) {
    justify-self: center;
  }
  ul {
    font-size: 3rem;
    @include respond(phone) {
      font-size: 4rem;
    }
    display: flex;
    list-style: none;
    a {
      text-decoration: none;
    }
    li {
      overflow: hidden;
      background: linear-gradient(
        to right,
        rgb(255, 255, 255),
        white 50%,
        $dark 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;
      font-weight: 400;
      margin: 0 2rem;
      display: inline-block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        bottom: 0;
        left: 0;
        background: $accent;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom right;
      }
      &:hover {
        background-position: 0 100%;
      }
    }
  }
}
