// .search--input {
//   font-size: 2rem;
//   display: block;
//   text-align: center;
//   justify-self: center;

//   span {
//     display: block;
//     color: $accent;
//   }

//   label {
//     text-align: center;
//   }
//   input {
//     padding: 0;
//     margin: 0;
//     color: $dark;
//     outline: none;
//     background: $lightIndie;
//     border-radius: 4px;
//     display: inline-block;
//     text-align: center;
//     color: $secondary;
//     &:placeholder-shown {
//       text-align: center;
//     }
//     &::placeholder {
//       color: $secondary;
//     }
//   }
// }
