.blog {
  // text-white list-none flex flex-row flex-wrap justify-around
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
